/**
 * @author [Sanjeet Kaul]
 * @email [kaulsanjeet2gmail.com]
 * @create date 2021-04-27 18:40:03
 * @modify date 2021-04-27 18:40:03
 * @desc [Group Project of Online Medicine Shopping System]
 */
.App {
  text-align: center;
}

.text-muted
{
  position: relative;
  top:12px;
}
.ab
{
  width: 500%;
  height: 60px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer {
  position: relative;
  top: 70px;
  bottom: 20px;
  width:100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
}

.text-center{
  position: relative;
  top: 20px;
  color:#282c34;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-link{
  font-size: 20px;
  margin: 3px;
  color: #fff !important;;
  font-weight: 200;
}

.navbar-brand{
  width: 40px;
}

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Nunito Sans', sans-serif;
}

.menu-bar{
  background-image: linear-gradient(-90deg, #d38312, #a83279);
}

.navbar-nav{
   
  text-align: right;
  margin-right: 20px;
}

.menu-bar .navbar-toggler
{
  padding-right: 20px;
  outline: none!important;
  border: none!important;
}

.navbar .fa
{
  color: #fff !important;
  font-size: 26px;
}
/* Colors */
/*
dark blue: #476A6F
light blue: #258EA6
dark green: #519E8A
medium green: #7EB09B
light green: #A3C4BC
*/

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #258ea6;
}

.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

.signupform {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  width: 100%;
  color: #111;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}

input {
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input::placeholder {
  font-size: 1.2em;
  font-weight: lighter;
  color: #999;
}

input.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.firstName {
  margin-right: 1%;
}

.lastName {
  margin-left: 1%;
}

.firstName,
.lastName,
.email,
.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.firstName,
.lastName {
  width: 49%;
}

.email,
.password {
  width: 100%;
}

.createAccount {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.createAccount button {
  background-color: #519e8a;
  color: #fff;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
  margin-bottom: 0.25em;
}

.createAccount button:hover {
  color: #519e8a;
  background-color: #fff;
  border: 2px solid #519e8a;
}

.createAccount small {
  color: #999;
  font-weight: lighter;
}

.dropdown
{
  position: relative;
  top: 6px;
  left: 6px;
}

.logout
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Inter";
}

.logout_button
{
  min-width: 300px;
  padding: 17px 30px;
  margin-top: 20px;
  background: black;
  border: none;
  color: white;
  font-size: 14px;
  font-family: "Inter";
  border-radius: 3px;
}

.user_name
{
  color: #8d0ada;
}

.login
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: "Inter";
}

.login_form
{
  display: flex;
  flex-direction: column;
}

.login_form > h1
{
  font-size: 35px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}

.login_form > input
{
  min-height: 380px;
  padding:20px 0;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid rgba(o, 0, 0, 0.24);
  font-family: "Inter";
  border-radius: 2px;
  font-size: 15px;

}

.submit_btn
{
  padding: 17px 30px;
  margin-top: 10px;
  background: black;
  border: none;
  color: white;
  font-size: 14px;
  font-family: "Inter";
  border-radius: 3px;
}